a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #bd4a3d;
}
.navbar-color{
    background-color: #2288c5;
    color: white;
}
ul{
    list-style: none;
}
body{
    background-color: #b7fefc;
}
#about{
    background-color: #179c67;
    color: #fcfcfc;
}

#about > p{
    /*padding: 10px;*/
    margin: 0;
}
#about{
    padding-bottom: 10px;
}
#projects {
    background-color:#54455f ;
    color: #fb1e18;
    padding-bottom: 1rem;
}
.image{
    width: 2rem;
    height: 2rem;
}
body{
    font-family: Georgia, serif;
}
.web_sites{
    width: 90%;
    height: auto;
    padding: 1rem;
    background-color:#b9fefc ;
    margin-left: 2rem;
    margin-right: 2rem;

}
.carousel{
    color: black;
}
.carousel > h3{
    color: #0479c0;
}
.carousel-inner{
    border: #179c67 .3rem solid;
}
.whiteLine{
    padding: 0;
   width: 100%;
    justify-content: start;
    margin: 0;
}
#navbarToggleExternalContent{
    margin: 0;
}
@media screen and (min-width:768px) {
.web_sites{
    width: 40%;
}
}